# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
.env/

# Ignore system files
.DS_Store

# Ignore data files
datasets/
*.csv

# Ignore other temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig

# Ignore VS Code settings
.vscode/
